// Imports
@import './assets/styles/vars';
@import './assets/styles/index';
@import './assets/styles/header';
@import './assets/styles/footer';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Cormorant:wght@500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: $color-light-grey;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}