<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer - BeArt</title>
    <link rel="stylesheet" href="../css/styles.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__inner__rectangle-title">
                    <span class="footer__inner__rectangle"></span>
                    <h3 class="footer__inner__title">Subscribe to our newsletter</h3>
                </div>

                <div class="footer__inner__email-address">
                    <form class="footer__inner__email-block">
                        <input class="footer__inner__email-block__input" type="email" placeholder="Email Address">
                        <button class="footer__inner__email-block__button">
                            <img class="footer__inner__email-block__arrow" src="../assets/images/arrow.svg" alt="Стрелка">
                        </button>
                    </form>

                    <div class="footer__inner__address-block">
                        <p class="footer__inner__address-block__text">123 Main Street,</p>
                        <p class="footer__inner__address-block__text">New York</p>
                        <a class="footer__inner__address-block__tel" href="tel:0617578736">tel: 06 17 57 87 36</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>