@import './vars';

//Header

.header-inner {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-logo {
  height: 66px;

  &__img {
    height: 100%;
  }
}


.nav {

  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__item {
    display: inline-block;
    padding-left: 11px;
  }

  &__link {
    font-family: $ff-archivo;
    font-style: $fs-normal;
    font-weight: $fw-500;
    font-size: 16px;
    font-stretch: 120%;
    line-height: 15px;
    color: $color-dark;
    text-decoration: none;
    display: flex;
  }

  .hover-img {
    display: none;
    padding-right: 8px;
  }

  &__link:hover  .hover-img{
    display: block;
  }
  
}

.burger {
  display: none;
}


@media (max-width: 768px) {
  
  .nav__list {
    display: none;
  }  

  .burger {
    display: block;
  }
}


@media (max-width: 478px) {
  .header-inner {
    padding: 11px 0;
  }
}