@import './vars';

//Common style properties
.archivo {
  font-family: $ff-archivo;
  font-style: $fs-normal;
}

.cormorant {
  font-family: $ff-cormorant;
  font-style: $fs-normal;
}

.expended-nav {
  transform: scale(1.25, 0.9);
}

.rectangle-icon {
  width: 14px;
  height: 14px;
  background-color: $color-dark-2d;
  transform: rotate(45deg);
  margin: 0 20px 0 5px;
}

//Topscreen
.topscreen {
  background-color: $color-grey;
  
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: url('../assets/images/Banner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    width: 100%;
    text-align: left;
    font-weight: $fw-500;
    font-size: 60px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color-dark;
    font-stretch: extra-condensed;
    padding: 110px 0 132px 0;         
  }
  
  .dedicated {
    font-weight: $fw-700;
    font-size: 68px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: none;
    color: $color-yellow;
    transform: scale(unset);
  }

  .video-btn {
    width: 160px;
    position: absolute;
    top: 66.8%;
    left: 71%;

    &__img {
      width: 100%;
    }
  }

  // .expended-text {
  //   transform: scale(1.25, 0.9);
  // }
}


//Our commitment
.commitment{
   &__wrapper {
     max-width: 1120px;
     text-align: left;
     padding: 121px 0 0 0;
   }

  &__title {
    @include title;
  }

  &__subtitle {
    max-width: 200px;
    font-weight: $fw-700;
    font-size: 25px;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-dark;
    font-stretch: 120;
  }

  .beart-description {
    @include benefits;
    // margin: 0 0 0 65px;
  }

  &__description {
    @include inner-description;
    color: $color-light-dark;
    margin: 0 0 0 120px;
  }

  .beart-description,
   &__description {
    max-width: 600px;
  }
}

.section-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 29px 0 0 0;
}

.second-block {
  display: flex;
  padding: 120px 0 80px 0;
  justify-content: flex-end;
}

.third-block   {
  display: flex;
  justify-content: flex-end;
  padding: 55px 0;
  margin: 0 0 124px 0;
}

.mission-subtitle {
  max-width: 120px;
  margin: 0 80px 0 0;
}