@import './vars';

// Ainagul
//Common style properties
.archivo {
  font-family: $ff-archivo;
  font-style: $fs-normal;
}

.cormorant {
  font-family: $ff-cormorant;
  font-style: $fs-normal;
}


//Topscreen
.topscreen {
  background-color: $color-grey;
  
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: url('../assets/images/Banner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    width: 100%;
    text-align: left;
    font-weight: $fw-500;
    font-size: 60px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color-dark;
    font-stretch: extra-condensed;
    padding: 110px 0 136px 0;
  }
  
  .dedicated {
    font-weight: $fw-700;
    font-size: 68px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: none;
    color: $color-yellow;
  }
}


//Our commitment
.commitment{

  &__subtitle {
    font-weight: $fw-700;
    font-size: 25px;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-dark;
    font-stretch: 120;
  }

  .beart-description {
    font-weight: $fw-400;
    font-size: 18px;
    line-height: 140%;
    color: $color-light-dark;
    font-stretch: 120;
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #747474;
    font-stretch: 120;
  }

  .beart-description,
  &__description{
    max-width: 600px;
  }
}

.first-block,
.second-block,
.third-block   {
  display: flex;
}
// Ainagul end



// Erbol
.benefits-span {
  @include benefits-span;
}

// Art Lovers
.artlovers-customers__inner__customers {
  margin: 100px 0 0 0;
}

.artlovers-customers__inner__artlovers__title {
  @include inner-title;
  max-width: 530px;
}

.artlovers-customers__inner__artlovers__texts-image {
  max-width: 960px;
  margin: 0 0 0 auto;
}

.artlovers-customers__inner__artlovers__texts {
  display: flex;
  align-items: start;
  justify-content: space-between;

  margin: 70px 0;
}

.artlovers-customers__inner__artlovers__description {
  @include inner-description;
  max-width: 400px;
}

.artlovers-customers__inner__artlovers__benefits {
  @include benefits;
  max-width: 350px;
}

.artlovers-customers__inner__artlovers__image {
  height: 800px;
}

.artlovers-customers__inner__artlovers__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Customers
.artlovers-customers__inner__customers__title {
  @include inner-title;
  max-width: 530px;
}

.artlovers-customers__inner__customers__texts-image {
  max-width: 960px;
  margin: 0 0 0 auto;
}

.artlovers-customers__inner__customers__texts {
  display: flex;
  align-items: start;
  justify-content: space-between;

  margin: 70px 0;
}

.artlovers-customers__inner__customers__description {
  @include inner-description;
  max-width: 400px;
}

.artlovers-customers__inner__customers__benefits {
  @include benefits;
  max-width: 350px;
}

.artlovers-customers__inner__customers__image {
  height: 580px;
}

.artlovers-customers__inner__customers__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: relative;
}

.artlovers-customers__inner__customers__play-icon {
  position: absolute;
  transform: translate(-530%, 245%);
}

// Roadmap
.roadmap {
  background-color: $color-dark-2d;
  padding: 120px 0 138px 0;
}

.roadmap__inner__rectangle-title {
  display: flex;
  align-items: center;
  margin: 0 0 100px 0;
}

.roadmap__inner__rectangle {
  @include rectangle;
}

.roadmap__inner__title {
  @include title;
  color: $color-white;
}

.roadmap__inner__data-texts {
  display: flex;
  align-items: center;
}

.roadmap__inner__data-text {
  @include inner-title;
  color: $color-yellow;
}

.roadmap__inner__data-text + .roadmap__inner__data-text {
  margin: 0 0 0 230px;
}

.roadmap__inner__data-block {
  max-width: 960px;
  margin: 0 0 0 auto;
}

.roadmap__inner__data-roadmap-circles-line {
  margin: 35px 0;
}

.roadmap__inner__data-roadmap-circle-blocks {
  display: flex;
  align-items: center;
}

.roadmap__inner__data-roadmap-circle {
  width: 87px;
  height: 87px;
  
  border-radius: 100%;
  border: 1px solid $color-white;
  background-color: $color-dark-2d;
  
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.roadmap__inner__data-roadmap-circle + .roadmap__inner__data-roadmap-circle {
  margin-left: 248px;
}

.roadmap__inner__data-roadmap-inner-circle {
  width: 45px;
  height: 45px;
  
  background-color: $color-light-dark-9a;
  border-radius: 100%;
}

.roadmap__inner__data-roadmap-line {
  width: 100%;
  height: 1px;
  background-color: $color-white;
  transform: translate(0, -685px);
}

.roadmap__inner__names-moon {
  display: flex;
  align-items: start;
}

.roadmap__inner__name-blocks {
  max-width: 240px;
}

.roadmap__inner__name-blocks + .roadmap__inner__name-blocks {
  margin: 0 0 0 85px;
}

.roadmap__inner__moon + .roadmap__inner__moon {
  margin-top: 50px;
}

.roadmap__inner__moon__title {
  @include inner-description;
  color: $color-white;
}

.roadmap__inner__moon__description {
  font-family: $ff-archivo;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 16px;

  color: $color-light-dark;
  margin: 5px 0 0 0;
  line-height: 24px;
}

// Our Team
.our-team {
  padding: 77px 0 149px 0;
}

.our-team__inner__title--animate-img {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 0 56px 0;
}

.our-team__inner__img {
  width: 150px;
  height: 150px;

  animation: imganimate 7s linear infinite;
}

@keyframes imganimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.our-team__inner__rectangle-title {
  display: flex;
  align-items: center;
}

.our-team__inner__inner__rectangle {
  @include rectangle;
  background-color: $color-dark-2d;
}

.our-team__inner__inner__title {
  @include title;
  color: $color-dark-2d;
}

.our-team__inner__description-block {
  padding: 0 360px 0 320px;
  margin: 0 0 100px 0;
}

.our-team__inner__description-text {
  @include inner-description;
  max-width: 470px;
}

// Our Partners
.our-partners {
  background-color: $color-white;
  padding: 120px 0 122px 0;
}

.our-partners__inner__block-partners {
  display: flex;
  align-items: start;

  max-width: 1080px;
  margin: 0 0 0 auto;
}

.our-partners__inner__rectangle-title {
  display: flex;
  align-items: center;
  margin: 0 0 144px 0;
}

.our-partners__inner__inner__rectangle {
  @include rectangle;
  background-color: $color-dark-2d;
}

.our-partners__inner__inner__title {
  @include title;
  color: $color-dark-2d;
}

.our-partners__inner__partner {
  max-width: 300px;
}

.our-partners__inner__partner + .our-partners__inner__partner {
  margin: 0 0 0 90px;
}

.our-partners__inner__logo-block {
  width: 260px;
  height: 260px;

  border-radius: 100%;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.our-partners__inner__logo-zmq {
  width: 171px;
}

.our-partners__inner__logo-enefti {
  width: 163px;
}

.our-partners__inner__description {
  @include partners-description;
  margin: 96px 0 0 0;
}
// Erbol end