// Fonts
$ff-archivo: 'Archivo', sans-serif;
$ff-cormorant: 'Cormorant', serif;

// Font weights
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// Font styles
$fs-normal: normal;

// Colors
$color-light-grey: #EBEBEB;
$color-grey: #BCBCBC;
$color-light-dark: #747474;
$color-dark: #383838;
$color-dark-2d: #2D2D2D;
$color-yellow: #F3BF6A;
$color-white: #FFFFFF;



@mixin title {
  font-family: $ff-cormorant;
  font-style: $fs-normal;
  font-weight: $fw-500;
  font-size: 45px;
  line-height: 140%;
  text-transform: uppercase;
  color: $color-dark;
}

@mixin subtitle {
  font-family: $ff-cormorant;
  font-style: $fs-normal;
  font-weight: $fw-500;
  font-size: 45px;
  line-height: 140%;
  text-transform: uppercase;
  color: $color-dark-2d;
  font-stretch: 120;
}
